<!-- Navbar-->
<header class="header">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-info unique-color" [containerInside]="false">
  
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="TestComponent"><img src="./assets/home/images/logo.png" alt=""></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" href="home" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light"  href="rdv" mdbWavesEffect>Rendez-vous</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="contact" mdbWavesEffect>Contact Us</a>
        </li>
  
        
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
       
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" routerLink="/connexion" >Sign in</a>
                <a class="dropdown-item" routerLink="/inscription">Sign up</a>
                
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  </header>

  <router-outlet></router-outlet>
  
  <footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="logo padding">
                <a href=""><img src="./assets/home/images/logo.png" alt=""></a>
                <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="footer-info padding">
                
             </div>
          </div>
          <div class="col-md-4">
             <div class="subcriber-info">
                <h3>CONTACTEZ NOUS</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> BD TEST N 50 Oujda</p>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i> Cabinet@gmail.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 05 36 36 36 36</p>
                                     <div class="subcriber-box">
                   <form id="mc-form" class="mc-form">
                      <div class="newsletter-form">
                         <div class="clearfix"></div>
                         <!-- mailchimp-alerts Start -->
                         <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div>
                            <!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div>
                            <!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div>
                            <!-- mailchimp-error end -->
                         </div>
                         <!-- mailchimp-alerts end -->
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>